In [6]:
x=y=z=50  
print(x,y,z)

50 50 50

In [4]:
a,b,c=5,10,15  
print (a)  
print (b)  
print (c)

5
10
15

In [9]:
tuple=('rahul',100,60.4,'deepak')  
tuple1=('sanjay',10)  
tuple 
tuple1
tuple+tuple1

('rahul', 100, 60.4, 'deepak', 'sanjay', 10)

In [12]:
text1='hello'
print(text1)

hello

In [20]:
val1=10  
val2=None  
#val1  
#val2  
print(val2)

None

In [24]:
 list=['aman',678,20.4,'saurav']  
 list1=[456,'rahul']  
 list 
print(list+list1)
list[1:3]

['aman', 678, 20.4, 'saurav', 456, 'rahul']

[678, 20.4]

In [26]:
a=10
if a==10:
    print("welcome to the javatpoint")

welcome to the javatpoint

In [27]:
year=400
if(year%4==0):
    print("year is leap")
else:
    print("year is not leap")

year is leap

In [31]:
num=2
for i in range(1,6):
    print(num*i)

2
4
6
8
10

In [47]:
for i in range(1,6):  
    for j in range (1,i+1):  
        print (i,)
    print()

1

2
2

3
3
3

4
4
4
4

5
5
5
5
5

In [50]:
for i in range (1,6):  
    for j in range (5,i-1,-1):  
        print ("*"),  
    print

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*

In [51]:
a=10
while a>0:
    print("value of a is",a)
    a=a-2

value of a is 10
value of a is 8
value of a is 6
value of a is 4
value of a is 2

In [1]:
n=153  
sum=0  
while n>0:  
    r=n%10  
    sum+=r  
    n=n/10  
print (sum)

9.999999999999998

In [ ]:
for i in [1,2,3,4,5]
if i==4:
    print("element is found")
    break
print("i")

### SIMPLE CALCULATOR

In [4]:
def sum(a,b):
    return a+b;
def min(a,b):
    return a-b;
def mul(a,b):
    return a*b;
def divide(a,b):
    return a/b;
print("1: for add\n,2: for min\n,3:for multiply\n,4 for divide")
select=input("enter your choice")
a=int(input("enput your first number"))
b=int(input("enter your second number"))
if select == '1':
     s=sum(a,b)
    print("sum of the number is %d",s)

IndentationError: unindent does not match any outer indentation level (<ipython-input-4-77155bfe56a0>, line 15)